# =============== Backend (Java/Spring Boot) ===============
/target/
*.class
*.jar
*.war
# IDE files
.idea/
*.iml

# =============== Frontend (Node/Next.js) ===============
# node modules
/node_modules
# build output
/.next/
/out/
# runtime files
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
.env*.local
.DS_Store